[Unit]
Description=Debate Admin Backend Service
After=network.target mysql.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/opt/debate/backendAdmin
ExecStart=/usr/bin/java -Xms256m -Xmx512m -jar -Dspring.profiles.active=prod /home/ubuntu/opt/debate/backendAdmin/DebateAdminBackEnd-1.0.0.jar
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
